/* src/components/Contact.css */

.contact {
    background-color: rgb(171, 198, 202);
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact h1 {
    margin-bottom: 20px;
    color: white;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.contact-form {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-size: large;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.form-group input[type="message"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    height: 150px;
}
  
.button {
    padding: 10px 20px;
    background-color: rgb(125, 199, 224);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.button:hover {
    background-color: rgb(66, 101, 224);
}