/* src/components/Footer.css */

.footer {
    background-color: rgb(158, 207, 215);
    color: white;
    padding: 20px 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
  }
  
  .footer-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .footer-links {
    display: flex;
    justify-content: center; 
    flex-direction: column;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    font-size: x-large;
    padding: 20px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  /* Ensure the footer stays at the bottom */
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
  }
  