/* src/pages/Home.css */

.home {
    background-image: url('../assets/home.jpg'); /* Adjust the path if necessary */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Makes the background image fixed during scrolling */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .home-content {
    padding: 20px;
    background: rgba(0, 0, 0, 0.3); /* Adjust the transparency to make the background more clear */
    border-radius: 10px;
    max-width: 80%;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .home-content {
      padding: 15px;
      max-width: 90%;
    }
  }
  